.skillsContainer {
    width: 100vw;
    height: 300px;
    padding: 50px;
    // background-color: inherit;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin-top: 80px;
    // display: flex;

    .skillsBox {
        // display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 2px solid white;
        font-size: 100px;
        line-height: 2;

        img {
            height: 110px;
            width: 110px;
        }
    }
}

a {
    text-decoration: none;
}

@media screen and (max-width: 960px) {
    .skillsContainer {
        grid-template-columns: auto;
        display: block;
        height: 100vh;

        .skillsBox {
            display: grid;
            font-size: 80px;
            grid-template-columns: auto;
            padding: 10px;
            // width: 100vw;
            // height: 100vh;

        }
    }

}