body {

    overflow-x: hidden;
}

.navBar {
    background: inherit;
    width: 100vw;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;

}

.navBarScroll {
    background-color: white;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    width: 100vw;
    z-index: 999;

}

.navBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding-right: 50px;
    max-width: 2000px;
}

.navBarLogo {
    color: black;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}

.navMenu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    // width: 100vw;
    justify-content: end;
    margin-right: 2rem;
    list-style: none;
}

.navItem {
    height: 80px;
}

.navLinks {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    list-style: none;
    list-style: none;
}

.navLinks:hover {
    border-right: 4px solid #ffff;
    transition: all 0.5s ease-out;
}

.fa-bars {
    color: #fff;
}

.navLinksMobile {
    display: none;
    list-style: none;
}

.menuIcon {
    display: none;
}

@media screen and (max-width: 960px) {
    .navBar {
        position: unset;
    }

    .navBarItems {
        position: relative;
    }

    .navMenu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .navMenuActive {
        background-image: linear-gradient(219.3deg, rgba(149, 0, 199, 1) 4.7%, rgba(130, 0, 226, 1) 22.9%, rgba(95, 0, 199, 1) 43.2%, rgba(70, 0, 199, 1) 63.9%, rgba(5, 0, 199, 1) 85.1%, rgba(0, 95, 199, 1) 106.8%);

        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;

        opacity: 1;
        transition: all 0.5s ease;
        list-style: none;

        .background-image {
            filter: blur(10px);
        }
    }

    .navLinks {
        color: white;

        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        list-style: none;
    }

    .navLinks:hover {
        background-color: #fff;
        color: #242424;
        border-radius: 0;
        list-style: none;
    }

    .navBarLogo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menuIcon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .navLinksMobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fff;
        padding: 14px 20px;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
    }

    .navLinksMobile:hover {
        background: #fff;
        color: #242424;
        transition: 250ms;
    }
}