* {
  margin: 0px;
  padding: 0px;
  font-family: "Antonio", sans-serif !important;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
}
